.network-container {
  padding: 5px;
  background-color: #eee;
}

.network-container:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.svg-network {
  cursor: move;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}
.nodecontainer {
  transition: opacity 0.3s ease-in-out;
}
.highlighting .nodecontainer {
  opacity: 0.2;
}

.strong-highlighting .nodecontainer {
  opacity: 0.1;
}
.highlighting .nodecontainer.highlighted {
  opacity: 1;
}
.strong-highlighting .nodecontainer.highlighted .node {
  stroke: #000 !important;
  stroke-width: 5px !important;
  stroke-dasharray: 1;
}
.node-label {
  font-family: sans-serif;
  fill: #333;
}

.node-label-shadow {
  stroke: #fff;
  stroke-width: 2.5px;
  opacity: 0.9;
}

.subject {
  stroke-width: 4px;
  stroke-dasharray: 1,1;
  cursor: auto;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  opacity: 0.7;
  stroke-linejoin: miter;
  transition: opacity 0.5s ease-in-out;
}
.subjectlink {
  stroke: #666;
  stroke-width: 1.5px;
  opacity: 0.4;
}

.highlighting .link {
  opacity: 0.2;
}
.highlighting .link.highlighted {
  opacity: 1;
}
.node-icon {
  pointer-events: none;
  font-family: 'entypo';
  fill: none;
}

.icon-legend {
  font-family: 'entypo';
  padding: 0 5px 0;
}

.tooltip {
  position: absolute;
  text-align: center;
  max-width: 300px;
  padding: 8px;
  font: 12px sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  pointer-events: none;
}

.source-link, .source-link:hover {
  color: #bbb;
}

.sources {
  background-color: #eee;
}

.sources p {
  padding: 5px;
}

.grouping-list {
  -webkit-touch-callout: none;
          user-select: none;
  -webkit-user-select: none;
  list-style-type: none;
  padding-left: 10px;
  font-size: 13px;
  font-family: sans-serif;
}

.grouping-list li ul li {
  padding-bottom: 0px;
  cursor: help;
}

.grouping-list li.highlighted {
  font-weight: bold;
}
