{% extends CMS_TEMPLATE %}

{% load i18n %}

{% block main %}
{% block simplenav %}
  <h1>
    <a href="{{ realm.get_absolute_url }}">
      {{ realm.name }}
    </a>
  </h1>
  <div class="text-right">
    <a href="{{ realm.get_absolute_url }}">
      {% trans "Go back to overview" %}
    </a>
  </div>
{% endblock %}
<div class="clearfix"></div>
{% block content %}{% endblock %}
<div class="clearfix"></div>
<div class="text-right">
  <small>
    <a class="text-muted" href="{% url 'yolodex:corrections' %}">{% trans "Corrections" %}</a>
  </small>
</div>
{% endblock %}
