{% extends "yolodex/base.html" %}

{% load i18n static sekizai_tags markdown_deux_tags yolodex %}

{% block title %}{{ object.name }} - {{ realm.name }}{% endblock %}

{% block main %}
  <h2>{{ object.name }}</h2>
  {{ rendered|markdown }}
  <hr/>

  <ul class="list-unstyled" id="network-{{ object.pk }}-types" style="position: absolute">
  </ul>

  <div id="network-{{ object.pk }}" class="network-container" style="height:600px; overflow: hidden"></div>

  <hr/>
  <ul>
  {% for edge in network.edges %}
    <li>{% verbify edge object %}</li>
  {% endfor %}
  </ul>
{% addtoblock "css" %}
<style>
  .svg-network {
    cursor: move;
  }
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
  }
  .subject {
    stroke-width: 4px;
    stroke-dasharray: 1,1;
    cursor: auto;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    opacity: 0.7;
    stroke-linejoin: miter;
  }
  .node-icon {
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
    fill: none;
  }

  .subjectlink {
    stroke: #666;
    stroke-width: 1.5px;
    opacity: 0.8;
  }
  .tooltip {
    position: absolute;
    text-align: center;
    max-width: 300px;
    padding: 8px;
    font: 12px sans-serif;
    background: #fff;
    border: solid 1px #aaa;
    pointer-events: none;
  }

</style>

{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static "vendor/d3/d3.min.js" %}"></script>
  <script src="{% static "vendor/webcola/WebCola/cola.min.js" %}"></script>
  <script src="{% static "js/yolodex/entitygraph.js" %}"></script>

  <script>
    $(window).load(function() {
      var subjectId = "{{ object.id }}";
      var legendContainer = 'network-{{ object.pk }}-types';
      var containerId = "network-{{ object.pk }}";
      var types = {{ types|safe }};
      var graphUrl = '{% url 'yolodex:entity-network' pk=object.pk %}';

      EntityGraph(subjectId, legendContainer, containerId, types, graphUrl);
    });
  </script>
{% endaddtoblock %}

{% endblock %}
