{% extends "yolodex/base.html" %}

{% load i18n static sekizai_tags markdown_deux_tags yolodex %}

{% block title %}{{ object.name }} - {{ realm.name }}{% endblock %}

{% block content %}
  <h2>{{ object.name }}</h2>
  {{ rendered|markdown }}

  {% if object.text %}
    {{ object.text|markdown }}
  {% endif %}

  {% include "yolodex/_network.html" %}
  <div class="clearfix"></div>

  <h3>
    {% blocktrans with name=object.name count count=network.edges|length %}{{ name }} has one connection{% plural %}{{ name }} has {{ count }} connections{% endblocktrans %}
  </h3>

  <ul>
  {% for edge in network.edges %}
    <li data-id="{{ edge.pk }}">
      {% verbify edge object %}
      {% include "yolodex/_sources.html" with obj=edge %}
    </li>
  {% endfor %}
  </ul>

  {% include "yolodex/_sources.html" with obj=object %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "css/yolodex/network.css" %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static "vendor/d3/d3.min.js" %}"></script>
  <script src="{% static "vendor/d3-jetpack/d3-jetpack.js" %}"></script>
  <script src="{% static "vendor/webcola/WebCola/cola.min.js" %}"></script>
  <script src="{% static "js/yolodex/entitygraph.js" %}"></script>

  <script>
    $('.source-link').click(function(e){
      e.preventDefault();
      $($(this).attr('href')).toggle();
    });
    $(window).load(function() {
      var subjectId = "{{ object.id }}";
      var legendContainer = 'network-{{ object.pk }}-types';
      var groupContainer = 'network-{{ object.pk }}-groups';
      var containerId = "network-{{ object.pk }}";
      var graphUrl = '{% url 'yolodex:entity-network' pk=object.pk %}';
      {% dictKeyLookup realm.settings 'link-style' as link_style %}
      var graph = EntityGraph(subjectId, containerId, graphUrl, {
        legendContainerId: legendContainer,
        groupContainerId: groupContainer,
        fullscreenSelector: '.network-fullscreen',
        linkStyle: '{{ link_style }}'
      });
    });
  </script>
{% endaddtoblock %}

{% endblock %}
