{% extends "yolodex/base.html" %}

{% load i18n static sekizai_tags markdown_deux_tags yolodex %}

{% block title %}{{ object.name }} - {{ realm.name }}{% endblock %}

{% block main %}
  <h2>{{ object.name }}</h2>
  {{ rendered|markdown }}

  {% if object.text %}
    {{ object.text|markdown }}
  {% endif %}

  <ul class="list-unstyled" id="network-{{ object.pk }}-types" style="position: absolute">
  </ul>

  <div id="network-{{ object.pk }}" class="network-container" style="height:600px; overflow: hidden">
    <div class="spinner"></div>
  </div>
  <div class="text-right">
    <small class="text-muted">{% trans "Filtered representation" %}</small>
  </div>

  <ul>
  {% for edge in network.edges %}
    <li>{% verbify edge object %}</li>
  {% endfor %}
  </ul>
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "css/yolodex/network.css" %}" media="screen" charset="utf-8">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static "vendor/d3/d3.min.js" %}"></script>
  <script src="{% static "vendor/webcola/WebCola/cola.min.js" %}"></script>
  <script src="{% static "js/yolodex/entitygraph.js" %}"></script>

  <script>
    $(window).load(function() {
      var subjectId = "{{ object.id }}";
      var legendContainer = 'network-{{ object.pk }}-types';
      var containerId = "network-{{ object.pk }}";
      var graphUrl = '{% url 'yolodex:entity-network' pk=object.pk %}';

      EntityGraph(subjectId, legendContainer, containerId, graphUrl);
    });
  </script>
{% endaddtoblock %}

{% endblock %}
