{% extends "yolodex/base.html" %}

{% load i18n static sekizai_tags yolodex markdown_deux_tags %}

{% block title %}{% blocktrans with name=realm.name %}Network for {{ name }}{% endblocktrans %}{% endblock %}

{% block simplenav %}{% endblock %}

{% block content %}
  <h1>{{ realm.name }}</h1>

  {% dictKeyLookup realm.settings 'search-placeholder' as search_placeholder %}
  {% include "yolodex/_search.html" with search_placeholder=search_placeholder %}

  <p>{% trans "Search for the following:" %}
  {% for type in realm.entitytype_set.all %}
      <a href="{% url 'yolodex:entity_list' type=type.slug %}">{{ type.name_plural }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  </p>

  {% include "yolodex/_network.html" with object=realm %}

  {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "css/yolodex/network.css" %}" media="screen" charset="utf-8">
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static "vendor/d3/d3.min.js" %}"></script>
    <script src="{% static "vendor/d3-jetpack/d3-jetpack.js" %}"></script>
    <script src="{% static "vendor/webcola/WebCola/cola.min.js" %}"></script>
    <script src="{% static "js/yolodex/entitygraph.js" %}"></script>

    <script>
      $(window).load(function() {
        var subjectId = undefined;
        var legendContainer = 'network-{{ realm.pk }}-types';
        var containerId = "network-{{ realm.pk }}";
        {% dictKeyLookup realm.settings 'focus-type' as focus_type %}
        {% dictKeyLookup realm.settings 'link-style' as link_style %}
        {% if focus_type %}
          var graphUrl = '{% url 'yolodex:entitytype-network' pk=focus_type %}';
          var graph = EntityGraph(subjectId, containerId, graphUrl, {
            respectCoords: true,
            legendContainerId: legendContainer,
            fullscreenSelector: '.network-fullscreen',
            linkStyle: '{{ link_style }}'
          });
        {% endif %}
      });
    </script>
  {% endaddtoblock %}

{% endblock %}
